body {
    font-family:'Righteous', cursive;
    background-color:gold;
}

.topic {
    margin: 10px;
   }

.buttons-view {
    border-radius: 25px;
    border: 2px solid purple;
    padding: 10px;
}

h2 {
    letter-spacing: 5px;
    text-align: center;
    color:purple;
}

h6 {
    font-style: italic;
    color: black(240, 255, 244);
}

.topic {
    font-size: 16px;
    font-weight: lighter;
}

.sportsTeam-name{
    margin: 20px;
    float: left;
}

p {
    color:purple;
    margin-top: 20px;
    line-height: 16px;
}

